* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 220, 185);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(209, 218, 227);
}

.nav-home {
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: rgb(38, 20, 20);
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.chessboard-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 650px;
  height: 500px;
  gap: 20px;
}

.turn {
  background-color: aliceblue;
  height: 50px;
  text-align: center;
  border: solid black 1px;
  border-radius: 10px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
h3 {
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;

  align-items: center;
}
